<div class="experience">
    <div class="container-sm">
        <div class="row">
            <div *ngFor="let exp of expcontent" class="col-lg-4">
                <!-- Image -->
                <img [src]="exp.img">
                <div class="exp-content">
                    <!-- Title -->
                    <p class="h2">{{exp.title}}</p>
                    <!-- Description -->
                    <p>{{exp.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>